/* Register.css */

.register-main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
  padding: 20px;
  box-sizing: border-box; 
  overflow-x: hidden; 
}
.login-text {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  color: #ccc;
}

.login-text span {
  color: #1890ff;
  cursor: pointer;
  font-weight: 600;
}

.login-text span:hover {
  text-decoration: underline;
}


.register-card {
  width: 450px;
  background: #161616;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  padding: 40px;
}

.register-card h1 {
  text-align: center;
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form label {
  color: #ccc;
  font-weight: 600;
}

.register-form input {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #444;
  background: #1a1a1a;
  color: #fff;
  outline: none;
}

.register-form input:focus {
  border-color: #1890ff;
}

.register-form button {
  padding: 12px;
  background: #1890ff;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
}

.register-form button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

/* Responsive */
@media(max-width:425px){
  .register-card{
    width: 90%;
    padding: 20px;
  }
  .register-form input, .register-form button {
    font-size: 14px;
    padding: 10px;
  }
}
